<div id="extractorBlock" class="isa-main-extractor-none">
    <span class="isa-extractor-title">Экстрактор</span>
    <div class="isa-main-progress">
        <button disabled id="buttonNew" class="isa-main-progress-func-off" onclick="disableButton(this)">
            NEW Загрузка
        </button>
        <button disabled id="buttonUpd" class="isa-main-progress-func-off" onclick="disableButton(this)">
            UPDATED Загрузка
        </button>
        <button disabled id="buttonDel" class="isa-main-progress-func-off" onclick="disableButton(this)">
            DELETED Загрузка
        </button>
    </div>
    <span id="lastArticleIdState">LastArticleId: 0</span>
    <div class="isa-main-block">
        <button disabled id="openModal" class="isa-start-ex-download" data-toggle="modal" data-target="#lastArticleForm">Загрузка...</button>
    </div>
</div>