<div id="indexerBlock" class="isa-main-indexer-none">
    <div class="isa-index-before">
        <span class="isa-indexer-title">Индексатор</span>
        <button disabled id="buttonIndex" class="isa-main-index-off" onclick="disableButton(this)">Загрузка данных</button>
    </div>
    <button disabled id="indexSubmit" type="button" class="isa-index-start-download" onclick="startIndex()">Загрузка...</button>
</div>