<div id="tgCollectorBlock" class="isa-main-tgcollector-none">
    <div class="isa-tgcollector-before">
        <span class="isa-tgcollector-title">Телеграм</span>
        <button disabled id="buttonTgCollector" class="isa-main-tgcollector-off" onclick="disableButton(this)">Загрузка данных</button>
    </div>
    <button disabled id="tgCollectorSubmit" type="button" class="isa-tgcollector-start-download" onclick="startTgCollector()">Загрузка...</button>
</div>