<div id="vkCollectorBlock" class="isa-main-vkcollector-none">
    <div class="isa-vkcollector-before">
        <span class="isa-vkcollector-title">Вконтакте</span>
        <button disabled id="buttonVkCollector" class="isa-main-vkcollector-off" onclick="disableButton(this)">Загрузка данных</button>
    </div>
    <button disabled id="vkCollectorSubmit" type="button" class="isa-vkcollector-start-download" onclick="startVkCollector()">Загрузка...</button>
</div>